// Day
.clear-sky{
  background-color: $background-color;
  background-image: url("/weather_app_serverless/dist/img/sunny.jpeg");
}

.rainy_day{
  background-color: $background-color;
  background-image: url("/weather_app_serverless/dist/img/rainy-day.jpeg");
}
.rainstorm{
  background-color: $background-color;
  background-image: url("/weather_app_serverless/dist/img/rain_storm.jpeg");
}
.snow{
background-color: $background-color;
  background-image: url("/weather_app_serverless/dist/img/snow.jpeg");
}

.fog_day{
background-color: $fog-color;
  background-image: url("/weather_app_serverless/dist/img/fog_day.jpeg");
}
.cloudy_day{
  background-color: $background-color;
  background-image: url("/weather_app_serverless/dist/img/cloudy_day.jpeg");
}
.thunder{
  background-color: $background-color;
  background-image: url("/weather_app_serverless/dist/img/thunder_outbreak.jpeg");
}
.pellet{
  background-color: $background-color;
  background-image: url("/weather_app_serverless/dist/img/ice_pellet.jpeg");
}

//Night

.night{
background-color: $night-color;
  background-image: url("/weather_app_serverless/dist/img/night.jpeg");
}
.cloudy_night{
  background-color: $background-color;
  background-image: url("/weather_app_serverless/dist/img/cloudy_night.jpeg");
}
.fog_night{
  background-color: $night-color;
  background-image: url("/weather_app_serverless/dist/img/fog_night.jpeg");
}
.rainy_night{
  background-color: $background-color;
  background-image: url("/weather_app_serverless/dist/img/rainy_night.jpeg");
}
.snowtorm_night{
  background-color: $night-color;
  background-image: url("/weather_app_serverless/dist/img/snow_storm_nigth.jpeg");
}
.snow_nigth{
  background-color: $night-color;
  background-image: url("/weather_app_serverless/dist/img/snow_night.jpeg");
}